<div class="layout-dashboard">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="overview-box views styleTargets">
        <img src="../../../assets/layout/images/customer-support.png" alt="ecuador-layout" class="image-icon" />
        <div class="overview-title">Servicios Registrados</div>
        <div class="overview-numbers">
          10
        </div>
        <div class="overview-subinfo user">
          <i class="fa fa-circle"></i>
          <span>Activo</span>
        </div>
      </div>
    </div>
  </div>
</div>