<form [formGroup]="userform" (ngSubmit)="onSubmit()">
  <div class="card card-w-title">
    <fieldset>
      <legend><b>Registro de Servicio</b></legend>
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-12 ui-g-2" *ngIf="seccion1" style="color: red; margin-left: 7px;">
          <strong>*</strong> Campo Obligatorio
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g form-group">
          <div class="ui-g-4">
            <div class="ui-g-12" style="padding-bottom: 0;" style="padding-bottom: 0;">
              <label for="acSimple">Nombre del Servicio<label style="color: red;"
                  *ngIf="this.userform.get('nameService').invalid"><strong>*</strong></label>:</label>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-book"></i>
                </span>
                <input type="text" pInputText formControlName="nameService" placeholder="Nombre del Servicio"
                  style="border-left:0">
              </div>
            </div>
          </div>
          <div class="ui-g-4">
            <div class="ui-g-12" style="padding-bottom: 0;">
              <label for="acSimple">Nombre Base de Datos<label style="color: red;"
                  *ngIf="this.userform.get('bdName').invalid"><strong>*</strong></label>:</label>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-database"></i>
                </span>
                <input type="text" pInputText formControlName="bdName" placeholder="Oracle, Postgre, MySQL..."
                  style="border-left:0">
              </div>
            </div>
          </div>
          <div class="ui-g-4">
            <div class="ui-g-12" style="padding-bottom: 0;">
              <label for="acSimple">IP<label style="color: red;"
                  *ngIf="this.userform.get('ip').invalid"><strong>*</strong></label>:</label>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-cogs"></i>
                </span>
                <input type="text" pInputText formControlName="ip" placeholder="0.0.0.0" style="border-left:0">
                <!-- <p-message severity="error" text="Este campo es requerido" *ngIf="valid_ip"></p-message> -->
              </div>
            </div>
          </div>
          <div class="ui-g-4">
            <div class="ui-g-12" style="padding-bottom: 0;">
              <label for="acSimple">Puerto<label style="color: red;"
                  *ngIf="this.userform.get('port').invalid"><strong>*</strong></label>:</label>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-microchip"></i>
                </span>
                <input type="text" minlength="2" maxlength="6" pattern="^[0-9\D]+$"
                  (keypress)="this.utilService.validateFormat($event)" pInputText formControlName="port"
                  placeholder="Puerto" style="border-left:0">
              </div>
            </div>
          </div>
          <div class="ui-g-4">
            <div class="ui-g-12" style="padding-bottom: 0;">
              <label for="acSimple">Esquema<label style="color: red;"
                  *ngIf="this.userform.get('schema').invalid"><strong>*</strong></label>:</label>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-folder-open"></i>
                </span>
                <input type="text" pInputText formControlName="schema" placeholder="Esquema" style="border-left:0">
              </div>
            </div>
          </div>
          <div class="ui-g-4">
            <div class="ui-g-12" style="padding-bottom: 0;">
              <label for="acSimple">Usuario BD<label style="color: red;"
                  *ngIf="this.userform.get('username').invalid"><strong>*</strong></label>:</label>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-user-circle"></i>
                </span>
                <input type="text" pInputText formControlName="username" placeholder="ej: root" style="border-left:0">
              </div>
            </div>
          </div>
          <div class="ui-g-4">
            <div class="ui-g-12" style="padding-bottom: 0;">
              <label for="acSimple">Contraseña BD<label style="color: red;"
                  *ngIf="this.userform.get('password').invalid"><strong>*</strong></label>:</label>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-lock"></i>
                </span>
                <input type="text" pInputText formControlName="password" placeholder="Contraseña BD"
                  style="border-left:0">
              </div>
            </div>
          </div>
          <div class="ui-g-5" style="display: flex; align-items: flex-end;">
            <div class="ui-g-12 ui-md-6">
              <button class="p-button p-ripple p-button-raised ui-button-primary" type="submit" pButton
                icon="fa fa-share-square-o" label="Registrar Servicio"></button>
            </div>
          </div>
        </div>
      </div>

    </fieldset>
  </div>
</form>